[submodule "declan_MERIT"]
	path = declan_MERIT
	url = https://github.com/EnzoMoser/MERIT.git
[submodule "julia_MERIT"]
	path = julia_MERIT
	url = https://github.com/EnzoMoser/MERIT.jl.git
[submodule "briqs"]
	path = briqs
	url = https://github.com/EnzoMoser/BRIQS-Framework.git
[submodule "clean_brigid"]
	path = clean_brigid
	url = https://github.com/EnzoMoser/clean_brigid.git
[submodule "UM-BMID"]
	path = um_bmid
	url = https://github.com/EnzoMoser/UM-BMID.git
[submodule "oor_epm"]
	path = orr_epm
	url = https://github.com/EnzoMoser/ORR-EPM.git
