[submodule "declan_MERIT"]
	path = declan_MERIT
	url = git@github.com:EnzoMoser/MERIT.git
[submodule "julia_MERIT"]
	path = julia_MERIT
	url = git@github.com:EnzoMoser/MERIT.jl.git
[submodule "briqs"]
	path = briqs
	url = git@github.com:EnzoMoser/BRIQS-Framework.git
[submodule "clean_brigid"]
	path = clean_brigid
	url = git@github.com:EnzoMoser/clean_brigid.git
